.ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      // your styles here
     //font-size: 10in;
     // font-weight: 700;
      background-color:#999999 !important;
      color:white;
      font-size: inherit;
      font-weight: bold;
      text-align: center;
     // text-decoration-color: whitesmoke;

    }
  }
}
  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
   }

   .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
 
    text-align: center !important;
  }
  